<div class="" style="padding: 10px 100px;">
    <div class="row">
        <div class="col-3">
            <div class="card mt-4">
                <div class="bg-warning-custom text-white p-2">
                    <i class="fa fa-search"></i> Tìm kiếm
                </div>
                <div class="card-body">
                    <form action="{% url 'homee' %}" method="get">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-5">
                                    <label for="maPhong" class="mr-2 small">Phòng:</label>
                                </div>
                                <div class="col-7">
                                    <select class="form-control form-control-sm" id="maPhong" name="maPhong">
                                        {% for room in rooms %}
                                        <option value="{{ room.maPhong }}">{{ room.maPhong }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <label for="priceRange">Giá tiền:</label>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" id="minPrice" placeholder="Từ">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="maxPrice" placeholder="Đến">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn bg-warning-custom text-white float-right">Tìm</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    {% for room in rooms %}
                    <div class="col-4">
                        <div class="card mt-4">
                            <img src="https://noithattrevietnam.com/uploaded/2021/11/0-hinh-anh-phong-ngu-dep-hien-dai%20%287%29.jpg"
                                 class="img-fluid" alt="Phòng Deluxe">
                            <div class="card-body text-center">
                                <p class="card-title">Phòng {{ room.maPhong }} <span>1000000</span></p>
                                <a href="" class="btn btn-danger" data-toggle="modal"
                                   data-target="#rentModal{{ room.maPhong }}">Đặt
                                    Phòng</a>
                                <!-- Modal thuê phòng -->
                                <div class="modal fade" id="rentModal{{ room.maPhong }}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Đăng ký đặt phòng
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-left">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <div class="text-bg-secondary p-2">Thông tin phòng</div>
                                                        <div class="border border-secondary-subtle"
                                                             style="padding:10px 20px">
                                                            <div class="mb-3 ">
                                                                <label for="maPhong" class="form-label">Phòng:</label>
                                                                <input type="text" name="maPhong"
                                                                       value="{{ room.maPhong }}"
                                                                       class="form-controll"
                                                                       required
                                                                       readonly/>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="loaiPhong" class="form-label">Loại
                                                                    phòng:</label>
                                                                <input type="text" name="loaiPhong"
                                                                       value="{{ room.loaiPhong }}"
                                                                       class="form-controll"
                                                                       required
                                                                       readonly/>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="hoVaTenDem" class="form-label">Gía
                                                                    phòng:</label>
                                                                <input type="text" name="giaTien"
                                                                       value="{{ room.giaTien }}"
                                                                       class="form-controll"
                                                                       required
                                                                       readonly/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-9">
                                                        <div class="text-bg-success p-2">Thông tin đăng ký</div>
                                                        <div class="border border-secondary-subtle"
                                                             style="padding:10px 20px">
                                                            <form method="post" action="{% url 'savedatphongphong' %}">
                                                                {% csrf_token %}
                                                                <div class="mb-3">
                                                                    <input type="hidden" name="maPhong"
                                                                           value="{{ room.maPhong }}"
                                                                           class="form-controll"
                                                                           required="required"/>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <div class="mb-3">
                                                                            <label for="hoVaTenDem" class="form-label">Tên
                                                                                khách hàng:</label>
                                                                            <input type="text" name="hoVaTenDem"
                                                                                   id="hoVaTenDem"
                                                                                   class="form-controll"/>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="soDienThoai" class="form-label">Số
                                                                                điện thoại:</label>
                                                                            <input type="text" name="soDienThoai"
                                                                                   id="soDienThoai"
                                                                                   class="form-controll"/>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="diaChi" class="form-label">Địa
                                                                                chỉ:</label>
                                                                            <input type="text" name="diaChi" id="diaChi"
                                                                                   class="form-controll"/>

                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="email"
                                                                                   class="form-label">Email:</label>
                                                                            <input type="email"
                                                                                   placeholder="example@example.com"
                                                                                   name="email"
                                                                                   id="email" class="form-controll"/>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="cccd"
                                                                                   class="form-label">CCCD:</label>
                                                                            <input type="text" name="cccd" id="cccd"
                                                                                   class="form-controll"/>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">

                                                                        <div class="mb-3">
                                                                            <label for="ngayNhanPhong"
                                                                                   class="form-label">Ngày nhận
                                                                                phòng dự kiến:</label>
                                                                            <input type="date" name="ngayNhanPhong"
                                                                                   id="ngayNhanPhong"
                                                                                   class="form-controll"/>

                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="gioNhanPhong"
                                                                                   class="form-label">Gio nhận
                                                                                phòng dự kiến:</label>
                                                                            <input type="time" name="gioNhanPhong"
                                                                                   id="gioNhanPhong"
                                                                                   class="form-controll"/>

                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="ngayTraPhong"
                                                                                   class="form-label">Ngày dự kiến trả
                                                                                phòng:</label>
                                                                            <input type="date" name="ngayTraPhong"
                                                                                   id="ngayTraPhong"
                                                                                   class="form-controll"/>

                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="gioTraPhong" class="form-label">Gio
                                                                                trả
                                                                                phòng dự kiến:</label>
                                                                            <input type="time" name="gioTraPhong"
                                                                                   id="gioTraPhong"
                                                                                   class="form-controll"/>

                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="tienDatCoc">Đặt cọc
                                                                                trước:</label>
                                                                            <input type="number" name="tienDatCoc"
                                                                                   id="tienDatCoc"
                                                                                   class="form-controll"/>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <input type="hidden" name="maNhanVien"
                                                                                   value="1"
                                                                                   id="maNhanVien"
                                                                                   class="form-controll"
                                                                                   required="required"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button"
                                                                            class="btn btn-secondary custom-btn-secondary"
                                                                            data-dismiss="modal">HUỶ
                                                                    </button>
                                                                    <input type="submit" value="ĐẶT PHÒNG"
                                                                           class="btn btn-primary custom-button"/>

                                                                </div>
                                                            </form>
                                                        </div>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-info"
                                   style="background-color: #088de6; border-color: #b3e0ff;">Chi
                                    tiết</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .container .form-controll{
         display: block;
     width: 100%;
     padding: 0.375rem 0.75rem;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     color: var(--bs-body-color);
     background-color: var(--bs-body-bg);
     background-clip: padding-box;
     border: var(--bs-border-width) solid var(--bs-border-color);
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     border-radius: var(--bs-border-radius);
     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     }
</style>