<div class="animationload">
    <div class="loader"></div>
</div>
<div class="cover_head">
    <a class="logo" href=""><img
            style="width: 150px; border-radius: 100%"
            src="https://lh3.googleusercontent.com/C9i2r6k4VIFd-azgZlm0898mzOIokEzbAscymrioa92VSkB7MgYEh2Q8nN5wbcN1ScHNkQ=s85"/></a>
    <div class="box_head">
        <div class="wrap1200 flex">
            <div class="col_head_1">Khách sạn Công Nghệ Thông Tin - Thành
                Phố Huế
            </div>
            <div class="col_head_2">
                <div class="mxh">
                    <span>Follow us: </span> <a class="item_mxh hover_xoay" href="">
                    <img src="http://kimnganhotel.com/upload/hinhanh/mxh2-2858.png">
                </a> <a class="item_mxh hover_xoay" href=""> <img
                        src="http://kimnganhotel.com/upload/hinhanh/mxh1-4639.png">
                </a> <a class="item_mxh hover_xoay" href=""> <img
                        src="http://kimnganhotel.com/upload/hinhanh/mxh4-9021.png">
                </a> <a class="item_mxh hover_xoay" href=""> <img
                        src="http://kimnganhotel.com/upload/hinhanh/mxh3-7226.png">
                </a> <a class="item_mxh hover_xoay" href=""> <img
                        src="http://kimnganhotel.com/upload/hinhanh/mxh5-5990.png">
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap_menu">
    <div class="menu">
        <nav id="menu">
            <ul>
                <div class="search flex">
                    <input class="keyword" onKeyPress="doEnter(event,'keyword');"
                           placeholder="Nhập từ khóa tìm kiếm"> <i
                        class="fa fa-search" aria-hidden="true"
                        onclick="onSearch(event,'keyword');"></i>
                </div>

                <li><a class="active" href="">Trang chủ</a></li>

                <li><a class="" href="gioi-thieu.html">Giới thiệu</a></li>

                <li><a class="" href="khach-san">Khách sạn</a>
                    <ul>
                        <li><a href="phong-don">Phòng Đơn</a></li>
                        <li><a href="phong-doi">Phòng đôi</a></li>

                    </ul>
                </li>

                <li><a class="" href="dich-vu.html">Dịch vụ</a></li>

                <li class="width"></li>

                <li><a class="" href="hinh-anh/">Hình ảnh</a></li>

                <li><a class="" href="bang-gia.html">Bảng giá</a></li>

                <li><a class="" href="tin-tuc/">Tin tức</a></li>

                <li><a class="" href="login">Login</a></li>

                <li class="search_h"><img
                        src="http://kimnganhotel.com/images/search_h.png"></li>
            </ul>
        </nav>
    </div>
</div>
<div id="slider">
    <div id="slider1_container"
         style="position: relative; width: 1365px; height: 632px;">
        <div u="slides"
             style="cursor: move; width: 1365px; height: 632px; overflow: hidden;">
            <div>
                <a href="https://www.facebook.com/qnstoreshoplegiasi/"> <img
                        src="https://www.hotelscombined.com/himg/b2/d4/55/leonardo-3840899-163722499-479786.jpg"
                        alt="Slider 1"/>
                </a>
            </div>
            <div>
                <a href="https://www.facebook.com/qnstoreshoplegiasi/"> <img
                        u="image" src="images/banner2.jpg" alt="Slider 2"/>
                </a>
            </div>
        </div>
        <span u="arrowleft" class="jssora05l" style="top: 40%;"></span> <span
            u="arrowright" class="jssora05r" style="top: 40%;"></span>
    </div>
</div>