<title>Quản lý phòng</title>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="midde_cont">
    <!-- Tạo modal -->
    <div class="modal fade" id="paymentSuccessModal" tabindex="-1" role="dialog"
         aria-labelledby="paymentSuccessModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {% if messages %}
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="list-group-item {% if message.tags %}{{ message.tags }}{% endif %}">
                        <span>
                            <i class="{% if message.tags == 'success' %}fas fa-check-circle text-success{% elif message.tags == 'warning' %}fas fa-exclamation-triangle text-warning{% elif message.tags == 'error' %}fas fa-exclamation-circle text-danger{% else %}fas fa-info-circle{% endif %}"></i>
                            {{ message }}
                        </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 0px 15px;">
        <div class="row">
            <div class="col-5">
                <h2 style="color: black; padding: 20px 30px;">QUẢN LÝ PHÒNG</h2>
            </div>
            <div class="col-7">
                <form style="padding: 20px 34px; text-align: right;" action="listroom" method="GET">
                    <label for="maPhong">Tìm kiếm phòng:</label>
                    <input type="text" placeholder="Nhập số phòng..." id="maPhong" name="maPhong">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
        <div class="text">
            <div class="room-container">
                {% for room in rooms %}
                <div id="table-{{ forloop.counter0 }}" class="room-box {% if room.tinhTrangPhong == 'có khách' %}cokhach
                {% elif room.tinhTrangPhong == 'còn trống' %}controng
                {% elif room.tinhTrangPhong == 'đang sửa chữa' %}dangsua
                {% elif room.tinhTrangPhong == 'đã đặt' %}dadat
                {% elif room.tinhTrangPhong == 'chưa dọn' %}chuadon
                {% else %}other{% endif %}">
                    <p>Số phòng: {{ room.maPhong }}</p>
                    <p>Loại phòng: {{ room.loaiPhong }}</p>
                    <p>Giá: {{ room.giaTien }}</p>
                    {% if room.tinhTrangPhong == 'có khách' %}
                    <i class="fas fa-bed" style="color: white;"></i>
                    {% elif room.tinhTrangPhong == 'còn trống' %}
                    <i class="fas fa-door-open" style="color: white;"></i>
                    {% elif room.tinhTrangPhong == 'đã đặt' %}
                    <i class="fas fa-calendar-check" style="color: white;"></i>
                    {% elif room.tinhTrangPhong == 'đang sửa chữa' %}
                    <i class="fas fa-wrench" style="color: white;"></i>
                    {% elif room.tinhTrangPhong == 'chưa dọn' %}
                    <i class="fas fa-exclamation-circle" style="color: white;"></i>
                    {% else %}
                    <i class="fas fa-question-circle"></i>
                    {% endif %}
                    <div class="context-menu">
                        {% if room.tinhTrangPhong == 'có khách' %}
                        <a href="{% url 'view_thue_phong' room.maPhong %}">
                            <i class="fas fa-info-circle" style="color: red; font-size: 20px; margin-right: 5px;"></i>
                            Thông tin thuê phòng
                        </a>
                        {% elif room.tinhTrangPhong == 'còn trống' %}
                        <a href="{% url 'add_thuephong' room.maPhong  %}">
                            <i style="font-size: 20px; margin-right: 10px" class="fas fa-bed"></i>
                            Thuê phòng
                        </a>
                        <a href="">
                            <i style="font-size: 20px; margin-right: 14px" class="fas fa-wrench"></i>
                            Sửa phòng
                        </a>
                        {% elif room.tinhTrangPhong == 'đã đặt' %}
                        <a href="">
                            <i style="font-size: 20px; margin-right: 14px" class="fas fa-check-circle"></i>
                            Check nhận phòng
                        </a>
                        {% elif room.tinhTrangPhong == 'đang sửa chữa' %}
                        <a href="">
                            <i style="font-size: 20px; margin-right: 2px; color: blue;" class="fas fa-check"></i>
                            Hoàn tất sửa chữa
                        </a>
                        {% elif room.tinhTrangPhong == 'chưa dọn' %}
                        <a href="">
                            <i style="font-size: 20px; margin-right: 10px; color: blue;" class="fas fa-check"></i>
                            Đơn xong
                        </a>
                        <a href="">
                            <i style="font-size: 20px; margin-right: 10px" class="fas fa-wrench"></i>
                            Sửa phòng
                        </a>
                        {% endif %}
                    </div>
                </div>
                <!-- Add a div to display student information -->
                <div class="student-info" id="student-info-{{ room.maPhong }}"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        var paymentSuccessMessage = "{% if messages %}{% for message in messages %}{{ message }}{% endfor %}{% endif %}";

        if (paymentSuccessMessage.trim() !== "") {
            $('#paymentSuccessModal').modal('show');
        }
    });
</script>


<style>
    .modal.fade.show {
        background: transparent;
        box-shadow: none;
    }

    .modal.fade {
        transition: none;
    }
    @keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.list-group-item i {
    animation: shake 0.5s; /* Áp dụng animation cho biểu tượng */
    animation-iteration-count: infinite; /* Lặp vô hạn */
}

</style>